<section data-background-image="https://images.unsplash.com/photo-1611647832580-377268dba7cb?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwyMDcwNnwwfDF8c2VhcmNofDEyNXx8Y29kZXxlbnwwfHx8fDE2Mzc2NjI5ODM&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1920" data-background-opacity="0.2" data-background-transition="fade">
    <div class="sl-block" data-block-type="text" style="width: 837px; left: 61.5px; top: 192px; height: auto;" data-origin-id="71f9128d7e7d818189b2fbe5ff507ea9">
        <div class="sl-block-style" style="z-index: 10; transform: rotate(0deg); filter: drop-shadow(rgba(28, 235, 123, 0.7) 0px 0px 6px);">
            <div class="sl-block-content monospace-font" style="z-index: 10; color: rgb(28, 235, 123); font-size: 150%; line-height: 1.04;" dir="ui" data-has-line-height="">
                <h1>{code}</h1>
            </div>
        </div>
    </div>

    <div class="sl-block" data-block-type="text" style="width: 837px; left: 61.5px; top: 399px; height: auto;" data-name="text-d18e72" data-origin-id="527aaac36763f621d2310da8d44ba10a">
        <div class="sl-block-style" style="z-index: 11; filter: drop-shadow(rgba(28, 235, 123, 0.7) 0px 0px 5px);">
            <div class="sl-block-content" style="z-index: 11; text-align: center; color: rgb(28, 235, 123); font-size: 110%;">
                <p>Acme Engineering is a full service software agency.</p>
            </div>
        </div>
    </div>




</section>
<section>
    <div class="sl-block" data-block-type="text" style="width: 928px; left: 6px; top: 57.5px; height: auto;" data-name="text-c29943" data-origin-id="41a1618c6901e5bea58c7c1fe0e601d9">
        <div class="sl-block-style" style="z-index: 10; transform: rotate(0deg);">
            <div class="sl-block-content" style="text-align: left; z-index: 10; color: rgb(255, 255, 255); line-height: 1.17; font-size: 90%;" dir="ui" data-has-line-height="">
                <h2>Present Syntax Highlighted Code</h2>
            </div>
        </div>
    </div>






    <div class="sl-block" data-block-type="text" style="width: 160px; left: 6px; top: 1.5px; height: auto;" data-name="text-3f789d" data-origin-id="f1db934c54465f2c05a9b18f37ae2907">
        <div class="sl-block-style" style="z-index: 13; filter: drop-shadow(rgba(28, 235, 123, 0.5) 0px 0px 5px);">
            <div class="sl-block-content" style="z-index: 13; text-align: left; font-size: 44%; color: rgb(28, 235, 123); padding: 5px; background-color: rgba(0, 0, 0, 0);" dir="ui">
                <pre># PRESENTING CODE</pre>
            </div>
        </div>
    </div>
    <div class="sl-block" data-block-type="line" data-name="line-49cd6b" style="width: auto; height: auto; left: 166px; top: 14px;" data-origin-id="b50441d6a2f67116230530c47095b3ba">
        <div class="sl-block-style" style="z-index: 12; filter: drop-shadow(rgba(28, 235, 123, 0.5) 0px 0px 5px);">
            <div class="sl-block-content" data-line-x1="0" data-line-y1="0" data-line-x2="787" data-line-y2="0.5" data-line-color="#1ceb7b" data-line-start-type="none" data-line-end-type="none" style="z-index: 12;"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid" width="787" height="1" viewBox="0 0 787 1">
                    <line stroke="rgba(0,0,0,0)" stroke-width="15" x1="0" y1="0" x2="787" y2="0.5"></line>
                    <line class="line-element" stroke="#1ceb7b" stroke-width="2" x1="0" y1="0" x2="787" y2="0.5"></line>
                </svg></div>
        </div>
    </div>
</section>
<section>






    <div class="sl-block" data-block-type="iframe" style="width: 944px; height: 530px; left: 6px; top: 158px;" data-origin-id="954dea9f6e2c295a5d1489b548294f5c" data-name="iframe-599e47">
        <div class="sl-block-content" style="z-index: 10; transition-duration: 0.6s; transition-delay: 0.1s;" data-animation-type="slide-up"><iframe webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" sandbox="allow-forms allow-scripts allow-popups allow-same-origin allow-pointer-lock allow-presentation" data-lazy-loaded="" allow="fullscreen" data-preload="true" data-src="https://codepen.io/hakimel/embed/bzrZGo?height=300&amp;theme-id=37007&amp;default-tab=js,result&amp;editable=true"></iframe></div>
    </div>


    <div class="sl-block" data-block-type="text" style="width: 954px; left: 6px; top: 57.5px; height: auto;" data-name="text-c29943" data-origin-id="4ee3951e6f9d32cd17a3b4bd00aca75b">
        <div class="sl-block-content" style="text-align: left; z-index: 11; color: rgb(255, 255, 255); line-height: 1.17; font-size: 90%;" dir="ui" data-has-line-height="">
            <h2>Embed Editable Code from CodePen</h2>
        </div>
    </div>

    <div class="sl-block" data-block-type="text" style="width: 160px; left: 6px; top: 1.5px; height: auto;" data-name="text-3f789d" data-origin-id="436b4742e875557c8735d5ccad876752">
        <div class="sl-block-style" style="z-index: 13; filter: drop-shadow(rgba(28, 235, 123, 0.5) 0px 0px 5px);">
            <div class="sl-block-content" style="z-index: 13; text-align: left; font-size: 44%; color: rgb(28, 235, 123); padding: 5px; background-color: rgba(0, 0, 0, 0);" dir="ui">
                <pre># PRESENTING CODE</pre>
            </div>
        </div>
    </div>
    <div class="sl-block" data-block-type="line" data-name="line-49cd6b" style="width: auto; height: auto; left: 166px; top: 14px;" data-origin-id="9dcd9a10c72ff9d4e4bcb847305ab602">
        <div class="sl-block-style" style="z-index: 12; filter: drop-shadow(rgba(28, 235, 123, 0.5) 0px 0px 5px);">
            <div class="sl-block-content" data-line-x1="0" data-line-y1="0" data-line-x2="787" data-line-y2="0.5" data-line-color="#1ceb7b" data-line-start-type="none" data-line-end-type="none" style="z-index: 12;"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid" width="787" height="1" viewBox="0 0 787 1">
                    <line stroke="rgba(0,0,0,0)" stroke-width="15" x1="0" y1="0" x2="787" y2="0.5"></line>
                    <line class="line-element" stroke="#1ceb7b" stroke-width="2" x1="0" y1="0" x2="787" y2="0.5"></line>
                </svg></div>
        </div>
    </div>
</section>
<section data-auto-animate="">





    <div class="sl-block" data-block-type="text" style="width: 160px; left: 6px; top: 1.5px; height: auto;" data-name="text-3f789d" data-origin-id="c726ace76dbca8b0a9c3f16666c4f123">
        <div class="sl-block-style" style="z-index: 12; filter: drop-shadow(rgba(28, 235, 123, 0.5) 0px 0px 5px);">
            <div class="sl-block-content" style="z-index: 12; text-align: left; font-size: 44%; color: rgb(28, 235, 123); padding: 5px; background-color: rgba(0, 0, 0, 0);" dir="ui">
                <pre># PRESENTING CODE</pre>
            </div>
        </div>
    </div>
    <div class="sl-block" data-block-type="line" data-name="line-49cd6b" style="width: auto; height: auto; left: 166px; top: 14px;" data-origin-id="fe60f96c67afb9f011669cb2668d6b94">
        <div class="sl-block-style" style="z-index: 11; filter: drop-shadow(rgba(28, 235, 123, 0.5) 0px 0px 5px);">
            <div class="sl-block-content" data-line-x1="0" data-line-y1="0" data-line-x2="787" data-line-y2="0.5" data-line-color="#1ceb7b" data-line-start-type="none" data-line-end-type="none" style="z-index: 11;"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid" width="787" height="1" viewBox="0 0 787 1">
                    <line stroke="rgba(0,0,0,0)" stroke-width="15" x1="0" y1="0" x2="787" y2="0.5"></line>
                    <line class="line-element" stroke="#1ceb7b" stroke-width="2" x1="0" y1="0" x2="787" y2="0.5"></line>
                </svg></div>
        </div>
    </div>
    <div class="sl-block" data-block-type="text" style="width: 908px; left: 6px; top: 57.5px; height: auto;" data-name="text-c29943" data-origin-id="2943e3c4dc7a0803ebd373ac9de8488b">
        <div class="sl-block-content" style="text-align: left; z-index: 13; color: rgb(255, 255, 255); font-size: 90%; line-height: 1.17;" dir="ui" data-has-line-height="">
            <h2>Code Transitions</h2>
        </div>
    </div>
</section>
<section data-auto-animate="">




    <div class="sl-block" data-block-type="text" style="width: 160px; left: 6px; top: 1.5px; height: auto;" data-name="text-3f789d" data-origin-id="f881ac3af93b2d891fde4722dc86c8b8">
        <div class="sl-block-style" style="z-index: 12; filter: drop-shadow(rgba(28, 235, 123, 0.5) 0px 0px 5px);">
            <div class="sl-block-content" style="z-index: 12; text-align: left; font-size: 44%; color: rgb(28, 235, 123); padding: 5px; background-color: rgba(0, 0, 0, 0);" dir="ui">
                <pre># PRESENTING CODE</pre>
            </div>
        </div>
    </div>
    <div class="sl-block" data-block-type="line" data-name="line-49cd6b" style="width: auto; height: auto; left: 166px; top: 14px;" data-origin-id="6fe7292a04297a502612c3bc0c2fb17d">
        <div class="sl-block-style" style="z-index: 10; filter: drop-shadow(rgba(28, 235, 123, 0.5) 0px 0px 5px);">
            <div class="sl-block-content" data-line-x1="0" data-line-y1="0" data-line-x2="787" data-line-y2="0.5" data-line-color="#1ceb7b" data-line-start-type="none" data-line-end-type="none" style="z-index: 10;"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid" width="787" height="1" viewBox="0 0 787 1">
                    <line stroke="rgba(0,0,0,0)" stroke-width="15" x1="0" y1="0" x2="787" y2="0.5"></line>
                    <line class="line-element" stroke="#1ceb7b" stroke-width="2" x1="0" y1="0" x2="787" y2="0.5"></line>
                </svg></div>
        </div>
    </div>
    <div class="sl-block" data-block-type="text" style="width: 908px; left: 6px; top: 57.5px; height: auto;" data-name="text-c29943" data-origin-id="7a27cc57c6d2c53c73a4ce485a2a2b8d">
        <div class="sl-block-content" style="text-align: left; z-index: 13; color: rgb(255, 255, 255); font-size: 90%; line-height: 1.17;" dir="ui" data-has-line-height="">
            <h2>Code Transitions</h2>
        </div>
    </div>
</section>
<section>
    <div class="sl-block" data-block-type="image" data-name="image-0acffb" style="width: 273px; height: 127.753px; left: 207.13px; top: 350px;" data-origin-id="c31878c2d892d18921f5e8c067482a82">
        <div class="sl-block-content" style="z-index: 10; transition-duration: 0.6s; transition-delay: 0.2s;" data-animation-type="slide-up"><img style="left: 0px; top: -97px; width: 273px; height: 273px;" data-natural-width="1920" data-natural-height="1920" data-crop-x="0" data-crop-y="0.355" data-crop-width="1" data-crop-height="0.467959" data-lazy-loaded="" data-src="https://images.unsplash.com/photo-1512486130939-2c4f79935e4f?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1920&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjIwNzA2fQ"></div>
    </div>





    <div class="sl-block" data-block-type="image" data-name="image-6c9650" style="width: 272px; height: 208px; left: 208.13px; top: 491px;" data-origin-id="e4b580e61e9dc2772232ba07eb844b44">

        <div class="sl-block-content" style="z-index: 11; transition-duration: 0.7s; transition-delay: 0.3s;" data-animation-type="slide-up"><img style="left: 0px; top: -116px; width: 272px; height: 408px;" data-natural-width="1920" data-natural-height="2880" data-lazy-loaded="" data-crop-x="0" data-crop-y="0.284314" data-crop-width="1" data-crop-height="0.509804" data-src="https://images.unsplash.com/photo-1492107376256-4026437926cd?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1920&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjIwNzA2fQ"></div>

    </div>
    <div class="sl-block" data-block-type="image" data-name="image-f63f33" style="width: 191.777px; height: 349px; left: 0px; top: 350px;" data-origin-id="80f7269279021ca106a8a05354108367">
        <div class="sl-block-content" style="z-index: 12; transition-duration: 0.6s; transition-delay: 0.2s;" data-animation-type="slide-up"><img style="left: -132px; top: 0px; width: 620px; height: 349px;" data-natural-width="1920" data-natural-height="1080" data-lazy-loaded="" data-crop-x="0.212903" data-crop-y="0" data-crop-width="0.309096" data-crop-height="1" data-src="https://images.unsplash.com/photo-1480944657103-7fed22359e1d?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1920&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjIwNzA2fQ"></div>
    </div>
    <div class="sl-block" data-block-type="image" data-name="image-2a38eb" style="width: 480px; height: 340.667px; left: 0px; top: 0px;" data-origin-id="adcb9bc3ec3bada5b2f96941b37c48bd">
        <div class="sl-block-content" style="z-index: 13; transition-duration: 0.6s; transition-delay: 0.1s;" data-animation-type="slide-up"><img data-natural-width="1920" data-natural-height="1280" style="left: 0px; top: 0px; width: 511px; height: 341px;" data-lazy-loaded="" data-crop-x="0" data-crop-y="0" data-crop-width="0.939335" data-crop-height="1" data-src="https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1920&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjIwNzA2fQ"></div>
    </div>


    <div class="sl-block" data-block-type="text" style="width: 113px; left: 509px; top: 2px; height: auto;" data-name="text-3f789d" data-origin-id="79987f2ea30d7d70085fc283e6cea66d">
        <div class="sl-block-style" style="z-index: 15; filter: drop-shadow(rgba(28, 235, 123, 0.5) 0px 0px 5px);">
            <div class="sl-block-content" style="z-index: 15; text-align: left; font-size: 44%; color: rgb(28, 235, 123); padding: 5px; background-color: rgba(0, 0, 0, 0);" dir="ui">
                <pre># CHAPTER 2</pre>
            </div>
        </div>
    </div>
    <div class="sl-block" data-block-type="line" data-name="line-49cd6b" style="width: auto; height: auto; left: 622px; top: 14.5px;" data-origin-id="d1418197fd30bcbd9efb9b8336a5963e">
        <div class="sl-block-style" style="z-index: 14; filter: drop-shadow(rgba(28, 235, 123, 0.5) 0px 0px 5px);">
            <div class="sl-block-content" data-line-x1="0" data-line-y1="0.5" data-line-x2="331" data-line-y2="0" data-line-color="#1ceb7b" data-line-start-type="none" data-line-end-type="none" style="z-index: 14;"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid" width="331" height="1" viewBox="0 0 331 1">
                    <line stroke="rgba(0,0,0,0)" stroke-width="15" x1="0" y1="0.5" x2="331" y2="0"></line>
                    <line class="line-element" stroke="#1ceb7b" stroke-width="2" x1="0" y1="0.5" x2="331" y2="0"></line>
                </svg></div>
        </div>
    </div>
    <div class="sl-block" data-block-type="text" style="width: 432.49999999999994px; left: 502px; top: 240.5px; height: auto;" data-name="text-6dae06" data-origin-id="bdca809dea12aa5ee0ab877fc0c47511">
        <div class="sl-block-content" style="text-align: left; z-index: 18; color: rgb(255, 255, 255); padding: 10px; font-size: 90%; line-height: 1.17;" data-has-line-height="">
            <h2>Our Services</h2>
        </div>
    </div>
    <div class="sl-block" data-block-type="text" style="width: 432.5px; left: 502px; top: 320.5px; height: auto;" data-name="text-a770d7" data-origin-id="5fdfc20fc27e217965fa0f4c86428346">
        <div class="sl-block-content" style="z-index: 19; text-align: left; color: rgb(255, 255, 255); padding: 10px; font-size: 90%;">
            <p>We offer a variety of services and plans tailored to business needs of any kind and of any size.</p>
        </div>
    </div>
</section>
<section>










    <div class="sl-block" data-block-type="text" style="width: 800px; left: 80px; top: 49.5px; height: auto;" data-name="text-c29943" data-origin-id="63be7933fae70fd9bc931a5fcc0dbed9">
        <div class="sl-block-content" style="text-align: center; z-index: 10; color: rgb(255, 255, 255); font-size: 90%; line-height: 1.17;" data-has-line-height="">
            <h2>Process</h2>
        </div>
    </div>


















    <div class="sl-block sl-block-group" data-block-type="group" data-name="group-fb20c8" style="height: auto;" data-origin-id="71fb03ad5bb972590cbf804e5a61a86c">
        <div class="sl-block-content sl-block-group-content" style="transform-origin: 199px 356.5px; z-index: 11; transition-duration: 0.6s; transition-delay: 0.1s;" data-animation-type="slide-up">

            <div class="sl-block" data-block-type="shape" style="width: 238px; height: 209px; left: 80px; top: 314px;" data-name="shape-e1e4ba" data-origin-id="a15becd21697bc2bbe12e08efa86d0ef">
                <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(0, 0, 0)" data-shape-stretch="true" style="z-index: 12;"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 238 209">
                        <rect width="238" height="209" rx="0" ry="0" class="shape-element" fill="rgb(0, 0, 0)"></rect>
                    </svg></div>
            </div>


            <div class="sl-block" data-block-type="text" style="width: 238px; left: 80px; top: 350px; height: auto;" data-name="text-96a5c5" data-origin-id="0710935210efcad8881975535de29d4f">
                <div class="sl-block-content" style="z-index: 13; text-align: left; font-size: 60%; color: rgb(255, 255, 255); padding: 14px;">
                    <p><strong>Ideation</strong></p>

                    <p>During the ideation phase, expect to discuss the project in depth to clearly understand the goals and requirements.</p>
                </div>
            </div>
            <div class="sl-block" data-block-type="text" style="width: 238px; left: 80px; top: 190px; height: auto;" data-name="text-b45c7e" data-origin-id="acd07f41786457ab2245a0ad583e4b28">
                <div class="sl-block-style" style="z-index: 14; filter: drop-shadow(rgba(28, 235, 123, 0.5) 0px 0px 5px);">
                    <div class="sl-block-content" style="text-align: left; z-index: 14; color: rgb(34, 34, 34); font-size: 140%; background-color: rgb(28, 235, 123); padding: 10px;">
                        <h2><strong>1.</strong></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sl-block sl-block-group" data-block-type="group" style="height: auto;" data-name="group-f4d45f" data-origin-id="25beaacb75f4e506034d6c38e7e47c5c">
        <div class="sl-block-content sl-block-group-content" style="transform-origin: 480px 356.5px; z-index: 15; transition-duration: 0.7s; transition-delay: 0.2s;" data-animation-type="slide-up">

            <div class="sl-block" data-block-type="shape" style="width: 238px; height: 209px; left: 361px; top: 314px;" data-origin-id="f0ccb5d98941fac8b257e3adef3c4a61" data-name="shape-689449">
                <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(0, 0, 0)" data-shape-stretch="true" style="z-index: 16;"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 238 209">
                        <rect width="238" height="209" rx="0" ry="0" class="shape-element" fill="rgb(0, 0, 0)"></rect>
                    </svg></div>
            </div>



            <div class="sl-block" data-block-type="text" style="width: 238px; left: 361px; top: 190px; height: auto;" data-origin-id="c8b44c1ff76ea387b0001816b8c6d926" data-name="text-8be4db">
                <div class="sl-block-style" style="z-index: 17; filter: drop-shadow(rgba(28, 235, 123, 0.5) 0px 0px 5px);">
                    <div class="sl-block-content" style="text-align: left; z-index: 17; color: rgb(34, 34, 34); font-size: 140%; background-color: rgb(28, 235, 123); padding: 10px;">
                        <h2><strong>2.</strong></h2>
                    </div>
                </div>
            </div>
            <div class="sl-block" data-block-type="text" style="width: 238px; left: 361px; top: 350px; height: auto;" data-name="text-db6149" data-origin-id="5a06b6013c19634ae21f8e944e8072e3">
                <div class="sl-block-content" style="z-index: 18; text-align: left; font-size: 60%; color: rgb(255, 255, 255); padding: 14px;">
                    <p><strong>Build</strong></p>

                    <p>Our team makes each part of the build phase seamless with regular check-ins and deliverables.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sl-block sl-block-group" data-block-type="group" style="height: auto;" data-name="group-ec6d02" data-origin-id="6590c4ebd62ecae32405237bc6ad4b5f">
        <div class="sl-block-content sl-block-group-content" style="transform-origin: 760px 356.5px; z-index: 19; transition-duration: 0.8s; transition-delay: 0.3s;" data-animation-type="slide-up">

            <div class="sl-block" data-block-type="shape" style="width: 238px; height: 209px; left: 642px; top: 314px;" data-origin-id="d6fbc6132bff23503b28d323218b406f" data-name="shape-20ff07">
                <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(0, 0, 0)" data-shape-stretch="true" style="z-index: 20;"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 238 209">
                        <rect width="238" height="209" rx="0" ry="0" class="shape-element" fill="rgb(0, 0, 0)"></rect>
                    </svg></div>
            </div>



            <div class="sl-block" data-block-type="text" style="width: 238px; left: 642px; top: 190px; height: auto;" data-origin-id="deea6e1438295cf195f09cc7c136c007" data-name="text-94a0c0">
                <div class="sl-block-style" style="z-index: 21; filter: drop-shadow(rgba(28, 235, 123, 0.5) 0px 0px 5px);">
                    <div class="sl-block-content" style="text-align: left; z-index: 21; color: rgb(34, 34, 34); font-size: 140%; background-color: rgb(28, 235, 123); padding: 10px;">
                        <h2><strong>3.</strong></h2>
                    </div>
                </div>
            </div>
            <div class="sl-block" data-block-type="text" style="width: 238px; left: 640px; top: 350px; height: auto;" data-name="text-4d6c8a" data-origin-id="88b519f771d2da11413f7dcd29c8ab30">
                <div class="sl-block-content" style="z-index: 22; text-align: left; font-size: 60%; color: rgb(255, 255, 255); padding: 14px;">
                    <p><strong>Launch</strong></p>

                    <p>It's time to take the product live - the end if the build phase but the beginning of being in market.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sl-block" data-block-type="text" style="width: 108.5px; left: 6px; top: 1.5px; height: auto;" data-name="text-3f789d" data-origin-id="7009c741b7578920a6a6963f14313292">
        <div class="sl-block-style" style="z-index: 24; filter: drop-shadow(rgba(28, 235, 123, 0.5) 0px 0px 5px);">
            <div class="sl-block-content" style="z-index: 24; text-align: left; font-size: 44%; color: rgb(28, 235, 123); padding: 5px; background-color: rgba(0, 0, 0, 0);" dir="ui">
                <pre># CHAPTER 2</pre>
            </div>
        </div>
    </div>
    <div class="sl-block" data-block-type="line" data-name="line-49cd6b" style="width: auto; height: auto; left: 114.5px; top: 14px;" data-origin-id="529734f361af717c576342472fe79a04">
        <div class="sl-block-style" style="z-index: 23; filter: drop-shadow(rgba(28, 235, 123, 0.5) 0px 0px 5px);">
            <div class="sl-block-content" data-line-x1="0" data-line-y1="0" data-line-x2="845.5" data-line-y2="0" data-line-color="#1ceb7b" data-line-start-type="none" data-line-end-type="none" style="z-index: 23;"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid" width="845.5" height="1" viewBox="0 0 845.5 1">
                    <line stroke="rgba(0,0,0,0)" stroke-width="15" x1="0" y1="0" x2="845.5" y2="0"></line>
                    <line class="line-element" stroke="#1ceb7b" stroke-width="2" x1="0" y1="0" x2="845.5" y2="0"></line>
                </svg></div>
        </div>
    </div>
</section>
<section>
    <div class="sl-block" data-block-type="image" data-name="image-3c39ef" style="width: 428.603px; height: 699px; left: 531.397px; top: 0px;" data-origin-id="ca5bad413fd335c143f00887f1371073">
        <div class="sl-block-content" style="z-index: 10;"><img data-natural-width="1920" data-natural-height="2549" style="left: -87px; top: 0px; width: 527px; height: 699px;" data-lazy-loaded="" data-crop-x="0.165085" data-crop-y="0" data-crop-width="0.814042" data-crop-height="1" data-src="https://images.unsplash.com/photo-1510751007277-36932aac9ebd?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1920&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjIwNzA2fQ"></div>
    </div>





    <div class="sl-block" data-block-type="text" style="width: 108.5px; left: 6px; top: 1.5px; height: auto;" data-name="text-3f789d" data-origin-id="9a4f97ff4aa064a84439dedc15ff463f">
        <div class="sl-block-style" style="z-index: 15; filter: drop-shadow(rgba(28, 235, 123, 0.5) 0px 0px 5px);">
            <div class="sl-block-content" style="z-index: 15; text-align: left; font-size: 44%; color: rgb(28, 235, 123); padding: 5px; background-color: rgba(0, 0, 0, 0);" dir="ui">
                <pre># CHAPTER 2</pre>
            </div>
        </div>
    </div>
    <div class="sl-block" data-block-type="line" data-name="line-49cd6b" style="width: auto; height: auto; left: 114.5px; top: 14px;" data-origin-id="67f458b181c4a261af04e9d6a55e7801">
        <div class="sl-block-style" style="z-index: 14; filter: drop-shadow(rgba(28, 235, 123, 0.5) 0px 0px 5px);">
            <div class="sl-block-content" data-line-x1="0" data-line-y1="0" data-line-x2="402.5" data-line-y2="0.5" data-line-color="#1ceb7b" data-line-start-type="none" data-line-end-type="none" style="z-index: 14;"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid" width="402.5" height="1" viewBox="0 0 402.5 1">
                    <line stroke="rgba(0,0,0,0)" stroke-width="15" x1="0" y1="0" x2="402.5" y2="0.5"></line>
                    <line class="line-element" stroke="#1ceb7b" stroke-width="2" x1="0" y1="0" x2="402.5" y2="0.5"></line>
                </svg></div>
        </div>
    </div>
    <div class="sl-block" data-block-type="text" style="width: 467.5px; left: 31px; top: 183px; height: auto;" data-name="text-6dae06" data-origin-id="c210c34af4e4a27c5490e395a94997ea">
        <div class="sl-block-content" style="text-align: left; z-index: 12; color: rgb(255, 255, 255); padding: 10px; line-height: 1.17; font-size: 90%;" data-has-line-height="">
            <h2>Team &amp; Background</h2>
        </div>
    </div>
    <div class="sl-block" data-block-type="text" style="width: 467.5px; left: 31px; top: 323px; height: auto;" data-name="text-a770d7" data-origin-id="0e7e3a768ebe8ef8712ea22bfc5f2a37">
        <div class="sl-block-content" style="z-index: 13; text-align: left; color: rgb(255, 255, 255); font-size: 90%; padding: 10px;">
            <p>Our design team has a collective 75 years of experience in crafting digital products. Our diverse backgrounds offer a thorough mix of points of view.</p>
        </div>
    </div>
</section>
<section>








